@font-face {
    font-family: "roboto";
    src: local("roboto.ttf"),
    local("./assets/roboto.ttf"),
    format("truetype");
}

*{
    font-family: "roboto";
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}

body{
    background-color: #35363a;
}

.gg-menu{
    width: 100%;
    display: flex;
    padding: 8px 0;
    justify-content: right;
    align-items: center;
}

.gg-link, .gg-circle{
    margin-right: 16px;
    cursor: pointer;
}

.gg-link:hover{
    text-decoration: underline;
}

.gg-circle{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #35363a;
}

.gg-circle:hover{
    background-color: rgba(232, 234, 237,.08);
    cursor: pointer;
}

.gg-apps{
    margin-right: 16px;
}

.gg-photo{
    width: 28px;
    height: 28px;
    border-radius: 50%;    
}

.gg-logo{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 92px;
    margin-top: 200px;
    margin-bottom: 38px; 
}

.gg-add{
    display: flex;
    justify-content: center;
    width: 100%;
}

.gg-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 112px;
    height: 112px;
    border-radius: 4px;
}

.gg-btn:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, .1);
}

.gg-btn > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: rgba(32, 33, 36, 1);
    border: none;
    border-radius: 50%;
}

.gg-btn > button > svg{
    width: 20px;
    height: 20px;
}

.gg-btn > p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 36px;
    max-width: 104px;
    margin-top: 8px;
}


@media (min-width: 768px){
    body{
        /*background-color: red;*/
    }
}

@media (min-width: 1024px){
    body{
        /*background-color: #35363a;*/
    }
}